body {
    background: -webkit-linear-gradient(top left, #5071a3 10%, #538de3 100%);
}

button {
    appearance: none;
    outline: 0;
    background-color: rgb(223, 223, 223);
    border: 0;
    padding: 10px 15px;
    color: #254683;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

button:hover {
    background-color: rgb(245, 247, 249);
    transform: scale(1.2);
    font-size: 20px;

} 
